.HomePage {
    width: 80%; // TODO change for mobile
    margin-top: 20px;

    .profile {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;

        .image {
            display: flex;
            width: 200px;
            height: 200px;
            margin-left: 20px;

            background-size: contain;
            background-repeat: no-repeat;
            border-radius: 50%;
            border: solid 1px #cccccc
        }

        .text {
            width: 50%;
            text-align: right;

            display: flex;
            flex-direction: column;
            align-items: flex-end;

            p.subtitle {
                color: #434343;
                font-style: italic;
            }

            .icons {
                display: flex;
                justify-content: space-between;
                width: 200px;

                i {
                    font-size: 30px;
                }
            }
        }
    }

    .section {
        margin: 20px;
        margin-top: 40px;

        h2.title {
            border-bottom: 6px solid #8e7cc3;
        }

        h5.title {
            font-size: 16px;
        }

        ul.bullets {
            margin: 0px;
            margin-bottom: 20px;
        }
    }


    @media (max-width: 1366px) {
        .homepage-box {
            width: 75%;
        }
    
    }

    @media (max-width: 425px) {
        .homepage-box {
            width: 90%;
        }
    }
}